[submodule ".vim"]
	path = .vim
	url = https://github.com/scrooloose/nerdtree.git
[submodule "plugins/vim-rails"]
	path = plugins/vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "plugins/supertab"]
	path = plugins/supertab
	url = https://github.com/ervandew/supertab.git
